doctype
html(lang="en)
    head
        meta(charset='utf-8')
        title Home Page
        != css('foundation.min')
        != css('home')
        != js('app')
    body
        .row.header.shadow
            .header-links
                p words
        .row.central-body
            .twelve.columns
                .row.four.columns
                    p somewords
                .row.four.columns
                    p somewords
                .row.four.columns
                    p somewords


