doctype
html(lang="en)
    head
        meta(charset='utf-8')
        title Home Page
        script(src="/scripts/vendor/jquery-1.8.3.min.js")
        script(src="/scripts/home.js")
    body
        p Some Content
        p
            | Some more text