body,html
    width 100%
    font-size 100%
    background-color #FAFAFA

.container
    background-color gray
    width 1000px

.header
    width 100%
    min-height 80px
    background-color #525252
    border-bottom solid 1px darkgray

.header-horizontal-line
    position absolute
    height 1px
    background-color red

.shadow
    -moz-box-shadow    inset 0 0 10px #000000
    -webkit-box-shadow inset 0 0 10px #000000
    box-shadow         inset 0 0 10px #000000

.header-links
    width (1000/16)em
    margin auto
    border solid 1px gray

.central-body
    background-color white
    width (1000/16)em

